<h1> WELCOME TO WIKI PAGE</h1>
<%= form_with model: @user do |form| %>
  <%= form.label :username, "Username: "%>
  <%= form.text_field :username, placeholder: "arikarim@gmail.com" %><br>
  <%= form.label :email, "E-mail: "%>
  <%= form.text_field :email%><br>
  <%= form.label :password, "Password: "%>
  <%= form.password_field :password %>
  <%= form.submit "Submit"%>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>